
:root {
    --background: rgb(38,38,38);
    --text: rgb(255,255,255);
    --border: rgb(45,45,45)
}

body {
    background: var(--background);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#header {
    background-color: var(--background);
    color: var(--text);
    height: 10vh;
    border: 2px solid var(--border);
    margin: auto;
    display: flex;
    padding: 10px;
}

#title {
    margin-left: 40vw;
}

img{
    float: right;
    margin-left: auto;
}

#startInterval {
    background-color: var(--background);
    color: var(--text);
    height: 85vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#startButton {
    background-color: rgb(5, 116, 20);
    color:var(--text);
    width: 20vw;
    height: 40%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#startButton:hover {
    background-color: rgb(4, 78, 14);
    color:var(--text);
    width: 20vw;
    height: 40%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#interval {
    background-color: var(--background);
    border: 2px solid var(--border);
    color: var(--text);
    height: 90vh;
    margin: auto;
    overflow: auto;
    display:none;
}

#tableDiv {
    background-color: var(--background);
    color: var(--text);
    border: 2px solid var(--border);
    width: 20vw;
    height: 95%;
    display: inline;
    padding: 10px;
    float: left;
    font-size: 50px;
}
#countdown {
    background-color: var(--background);
    display: inline;
    color: var(--text);
    border: 2px solid var(--border);
    width: 40vw;
    height: 95%;
    display: block;
    padding: 10px;
    float: left;
}
#targetPower {
    background-color: var(--background);
    display: inline;
    color: var(--text);
    border: 2px solid var(--border);
    width: 35vw;
    height: 95%;
    display: block;
    padding: 10px;
    float: left;
}

h1,h2{
    text-align: center;
}

#power,#time{
    text-align: center;
    margin-top: 40vh;
    font-size: 180px;
}

.even{
    background-color: rgb(45,45,45);
}